# TempNormGUI_v20190302
# Prasanna Sritharan, 2 March 2019


# redistributable release folders
TempNormGUI_v20190312_Redistributable/
TempNormGUI_v20190312_Redistributable_resources/

# matlab app release folders
TempNormGUI_v20190312_MatlabApp/
TempNormGUI_v20190312_MatlabApp_resources/

# all log files
*.log




