# TempNormGUI_v20190302
# Prasanna Sritharan, 2 March 2019


# redistributable release folders
TempNormGUI_v20190302_Redistributable/
TempNormGUI_v20190302_Redistributable_resources/

# matlab app release folders
TempNormGUI_v20190302_MatlabApp/
TempNormGUI_v20190302_MatlabApp_resources/